* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px 120px;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  margin-bottom: 20px;
}

.headerText {
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkModeInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.darkModeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.darkModeText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.SearchFilter {
  display: flex;
  justify-content: space-between;
  padding: 50px 120px;
  background-color: #fafafa;
  width: 100%;
}

.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* background-color: pink; */
  padding: 20px 20px 20px 50px;
}

.searchImage {
  height: 35px;
}

.searchBox {
  padding: 10px;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

::placeholder {
  font-size: 16px;
}

.Filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.dropDownList {
  padding: 15px;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 10px #e6e6e6;
}

select:focus {
  outline: none;
  border: none;
}

select {
  background-color: #fff;
  font-weight: lighter;
  width: 200px;
}

option {
  background-color: #fff;
  font-weight: lighter;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 100px;
  width: 100%;
  padding: 20px 120px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px #e6e6e6;
  background-color: #fff;
  width: calc(100% / 4 - 100px);
  min-width: 288px;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.countryInfo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.countryName {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 30px;
}

span {
  color: #424242;
}

.dark-mode {
  box-shadow: none;
  background-color: rgb(44, 55, 66);
  color: white;
}

.dark-text {
  color: #ffffff;
}

.darkBackground {
  background-color: rgb(34, 45, 55);
}

.dark-mode::placeholder {
  color: white;
}

.borderCountries button.dark-mode-border {
  box-shadow: none;
  background-color: rgb(44, 55, 67);
  border: none;
  color: white;
}

.card-infos {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

h2 {
  font-size: 1.2rem;
  font-weight: 800;
  width: 100%;
  padding-bottom: 30px;
}

h6 {
  padding-bottom: 5px;
  font-weight: 300;
  color: rgb(154, 154, 154);
  font-size: 1rem;
}

h6 span {
  font-weight: 600;
  color: rgb(66, 66, 66);
}

.singleFlag {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  width: 100%;
  padding: 20px 120px;
}

.backBtn {
  width: 200px;
  border: none;
  background-color: #ffffff;
  height: 50px;
  box-shadow: 0px 0px 10px rgb(230, 230, 230);
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.flagData {
  display: flex;
  width: 100%;
  column-gap: 150px;
}

.flagImg {
  width: 50%;
  height: auto;
  aspect-ratio: 16/9;
}

.flagDetails {
  padding: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.flagDetailsData {
  display: flex;
  justify-content: space-between;
}

.flagDetailsData > div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.flagDetailsData h4 {
  font-size: 0.8rem;
  font-weight: 300;
}

.flagDetailsData span {
  font-size: 1rem;
  font-weight: 600;
  padding-right: 5px;
}

.borderCountries h4 {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 5px;
}

.borderCountries {
  display: flex;
  column-gap: 10px;
}

.borderCountries button {
  padding: 0;
  outline: none;
  background-color: #ffffff;
  width: 70px;
  border: none;
  box-shadow: 0px 0px 10px rgb(230, 230, 230);
}

.loading {
  text-align: center;
  margin: 200px;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  align-self: center;
  justify-content: center;
  color: grey;
}

.backImg {
  height: 25px;
  width: 30%;
}

.darkBtn {
  box-shadow: none;
  background-color: rgb(44, 55, 66);
  color: white;
}
